
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-pic{
    width: 89%;
  margin: 0 auto;
  display: flex;
}

.info{
  margin: 20px 10px;
  font-size: 15px;
}
.name, .interest{
    font-weight: bold;
    margin: 10px 0;
    font-family:'Times New Roman', Times, serif;
}
.name{
    font-size: 2.2rem;
}
.interest{
    font-size: 1.4rem;

}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 30px 0px 0px 0px;

}
.container2{
    padding: 30px 0px 50px 0px;

}
.box1{
    padding: 0 20px 0px 20px;
}
.back-line{
    height: 2px;
    width: 50%;
    margin: 0 auto;
    background-color: #c2a09e;
}
.background{
    width: 100%;
    height:94vh;
    color: white;
    background-color:#c2a09e;
}
.model{
    width: 89%;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: -40px;
}

.model2{
    width: 89%;
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
}
.text{
    margin: 0 0 24px 0;

}
.info{
    margin-bottom: 30px;
}
.btn2-class{
    color: white;
  background: #c2a09e;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 4px;
}
.btn2-class:hover{
    color: rgb(224, 224, 224);
  background: #c3a9a6;
  border: 1px solid rgb(255, 238, 238);
  padding: 10px 15px;
  border-radius: 4px;
}

.box2{
text-align: center;
padding: 0 40px 0 40px;
}

.background-color{
    background-color: #c2a09e;
    position: absolute;
    height: 40vh;
    width: 54%;
    z-index: -10;
    top: 0;
    right: 0;
}

.left-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 22px; */
}

ul{
     display: flex;
}
li{
    /* text-decoration: none;
  padding: 0 10px; */
  font-size: 14px;
  margin: 0 10px;
  list-style: none;

}
a{
     color:white;
    text-decoration: none; 
}
a:hover{
    color:#ecd6d5;
    
}

.logo{
    font-size: 2rem;
    color: #c2a09e;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 0 80px 0 10px;
}


.profile-pic{
    width: 70px;
    border-radius: 40px;

}

.profile{
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.matter{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.about-me{
    font-weight: bold;
    margin: 20px 0;
}

.background2{
    background-color: #fcedec;
    height: 50vh;
}

.back-line2{
    margin-bottom: 50px;
}

.back-line3{
    height: 2px;
    width: 20%;
    margin: 5px;
    margin: 10px auto;
    background-color: #c2a09e;
}

.footer{
    height: 60px;
  background-color: #2d2d2d;
  color: white;
}

.copyright{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
    height: inherit;
}

.row{
    width: 100%;
}
